/* App */
.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100vh;
}


/* Background */
body {
    background-image: url("./Assets/WeatherApp_Background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: var(--Bg-Overlay-clr);
    background-blend-mode: overlay;
    height: 100vh;
    color: var(--Text-clr);
}


/* Text */
p {
    font-size: 1.3rem;
}


/* Headings */
h1 {
    font-size: 2.5rem;
}
h2,h3 {
    font-size: 2rem;
}