@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Code+Pro&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}


/* Color Scheme */
:root {
    --Text-clr: #c6c2bb;
    --Background-clr: rgba(0, 0, 0, 0.475);
    --Background-Overlay-clr: rgba(0, 0, 0, 0.508);
}